/*
Theme Name: Shoptimizer Child Theme for Apmmust
Theme URI: 
Description: Child theme of Shoptimizer
Author: CommerceGurus
Author URI: 
Template: shoptimizer
Version: 1.2.2
License:         	GNU General Public License v2 or later
License URI:     	http://www.gnu.org/licenses/gpl-2.0.html
*/
/* WC 메시지 박스 색 변경 */

/* SKU, CATEOGRY 싱글페이지 위치 변경 */
div.product .product_meta {
border: none;
background: transparent;
text-align: left;
}
 
div.product .product_meta .posted_in,
div.product .product_meta .sku_wrapper,
div.product .product_meta .tagged_as {
display: block;
margin: 0;
}

.woocommerce-pagination .page-numbers li .page-numbers.current {
    background-color: #e5e5e5;
}

/* Normally Red */
.woocommerce-error {
    background-color: #e2401c;
}

/* Normally Blue */
.woocommerce-info {
    background-color: #000000;
}

/* Normally Green */
.woocommerce-message {
    background-color: #000000;
}

/* Normally Green */
body.single-product .woocommerce-message .message-inner {
    background-color: #000000;
}


.pagination {
    float: right;
    padding: 1em 0;
}

.pagination .page-numbers {
    margin-left: 5px;
}

/* 포스트 날짜 업데이트 CSS */
.entry-date.published:not(.updated) {
display: none;
}
 
.updated:not(.published) {
display: inline;
}

/* 세일 가격 표시 CSS */
#page table.cart.woocommerce-cart-form__contents td.product-price {
	display: table-cell;
}
#page table.cart.woocommerce-cart-form__contents td.product-price del {
	opacity: 0.5;
	font-size: 13px;
	margin-right: 3px;
}

/* 유저 정보 대쉬보드 CSS */
.user-group-dashboard {
    margin: 20px 0;
}

.user-group-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
