.product-details-wrapper + .woocommerce-tabs.wc-tabs-wrapper {
  display: none;
}

.product__brands {
  margin-top: 12px;
  position: relative;
  margin-bottom: 2px;
  -webkit-font-smoothing: antialiased;
  color: #999;
  line-height: 1;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.single-product-accordion .accordion-section,
.single-product-accordion .accordion-header,
.single-product-accordion .accordion-icon {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.single-product-accordion .accordion-header {
  display: flex;
  align-items: center;
  min-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  padding: 9px 0;
}
.single-product-accordion .accordion-header .accordion-title-wrapper {
  font-size: 0;
  flex-grow: 1;
  line-height: 1;
}
.single-product-accordion .accordion-icons {
  flex-shrink: 0;
  margin: 0 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 0;
  color: #000;
}
.single-product-accordion .accordion-icons svg {
  width: 20px;
  height: 20px;
}
.single-product-accordion .accordion-icons .closed-icon {
  display: none;
}
.single-product-accordion .accordion-content {
  padding: 25px 0 20px;
  display: none;
  color: #666;
}
.single-product-accordion .accordion-section.active .accordion-icon.opened-icon {
  display: none;
}
.single-product-accordion .accordion-section.active .accordion-icon.closed-icon {
  display: block;
}

@media (max-width: 768.5px) {
  .top-bar > .col-full {
    display: flex !important;
    justify-content: space-between !important;
  }
  .top-bar > .col-full .top-bar-left {
    display: flex;
    justify-content: flex-start;
  }
  .top-bar > .col-full .top-bar-right {
    display: flex;
    justify-content: flex-end;
  }
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1:hover .wmc-current-currency {
  opacity: 0.8;
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-current-currency {
  transition: opacity ease 0.2s;
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-currency-wrapper {
  position: relative;
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-currency-wrapper:hover .wmc-sub-currency {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-currency-wrapper .wmc-current-currency {
  background: initial;
  color: white;
  border: none;
  padding-left: 0;
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-currency-wrapper .wmc-current-currency .wmc-open-dropdown-currencies {
  top: calc(50% - 2px);
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-currency-wrapper .wmc-sub-currency {
  display: block !important;
  left: 0;
  min-width: 160px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -3px 23px rgba(0, 0, 0, 0.06);
  text-align: start;
  padding: 18px 18px 22px;
  margin: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  z-index: 9999999;
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-currency-wrapper .wmc-sub-currency .wmc-currency {
  padding: 6px;
  border: none;
  transition: background-color ease 0.15s;
}
.top-bar > .col-full .top-bar-left #woocommerce-multi-currency-1 .wmc-currency-wrapper .wmc-sub-currency .wmc-currency:hover {
  background-color: rgba(61, 61, 80, 0.09);
  }


/* 배송비 계산기 */
.shipping-calculator-container {
  margin-bottom: 50px;
}

.shipping-calculator-container input,
.shipping-fee-table-container input {
text-align: center;
}

.shipping-calculator-container .invisible,
.shipping-fee-table-container .invisible {
display: none !important;
}

.shipping-calculator-container ul,
.shipping-fee-table-container ul {
list-style: none;
padding: 0;
margin: 0;
}
.shipping-calculator-container li,
.shipping-fee-table-container li {
margin: 0;
padding: 0;
}

.shipping-calculator-container ul,
.shipping-fee-table-container ul {
display: flex;
flex-wrap: wrap;
width: 100%;
margin-bottom: 25px;
}

.shipping-calculator-container .field,
.shipping-fee-table-container .field {
display: flex;
align-items: center;
justify-content: flex-start;
width: 50%;
height: 3.4rem;
padding: 0;
border: 1px solid #ddd;
border-bottom: none;
border-right: none;
}

.shipping-fee-table-container .field {
border-bottom: 1px solid #ddd;
}

.shipping-calculator-container .field p {
  margin: 0;
}
.shipping-calculator-container .field select {
  margin: 0;
}

.shipping-calculator-container .field .left,
.shipping-fee-table-container .field .left {
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
width: 30%;
height: 100%;
color: #333;
font-size: 1rem;
background-color: #f8f8f8;
}

.shipping-calculator-container .field label[for="shipping_type_esm"],
.shipping-fee-table-container
.field
label[for="shipping_type_esm_in_price_table"] {
padding-right: 20px;
}

.shipping-calculator-container .field .right,
.shipping-fee-table-container .field .right {
display: flex;
justify-content: center;
width: 100%;
padding: 6px 20px;
}

.shipping-calculator-container .field:nth-of-type(2n),
.shipping-fee-table-container .field:nth-of-type(2n) {
border-right: 1px solid #ddd;
}

.shipping-calculator-container .field:nth-of-type(3),
.shipping-calculator-container .field:nth-of-type(4) {
border-bottom: 1px solid #ddd;
}

.shipping-calculator-container .calculate-container {
display: flex;
justify-content: center;
}

.shipping-calculator-container input.error,
.shipping-calculator-container select.error {
border-color: #d9534f;
}

.shipping-calculator-container .calculate-button {
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.shipping-calculator-container .calculate-result {
display: flex;
justify-content: flex-end;
column-gap: 20px;
margin-bottom: 20px;
font-weight: 700;
font-size: 1.1rem;
}

.shipping-calculator-container input {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.shipping-fee-table-container p,
.shipping-fee-table-container select
.shipping-fee-table-container ul {
  margin: 0;
}
.shipping-fee-table-container td,
.shipping-fee-table-container th {
  border: 1px solid rgba(0,0,0,.08);
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.shipping-fee-table-container table {
  border-spacing: 0;
  border-collapse: collapse;
}

.price-table .kg {
width: calc(100% / 6);
}

@media screen and (max-width: 767px) {
  .shipping-calculator-container > ul,
  .shipping-fee-table-container > ul {
      flex-direction: column;
  }
  .shipping-calculator-container .field,
  .shipping-fee-table-container .field {
      width: 100%;
      border-top: none;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
  }

  .shipping-calculator-container .field:nth-of-type(1),
  .shipping-fee-table-container .field:nth-of-type(1) {
      border-top: 1px solid #ddd;
  }

  .shipping-calculator-container .field .left,
  .shipping-fee-table-container .field .left {
      font-size: 0.84rem;
  }
  .price-table {
      font-size: 0.9rem;
  }
}

.overflow-visible {
    overflow: visible !important;
}
.switcher-visible {
    visibility: visible !important;
}
